:root {
  --color-primary: #f8f9fa;
  --color-secondary: rgb(77, 177, 226);
  --color-tertiary: #0069d9;
  --color-black: #000;
  --color-white: #fff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  background-color: var(--color-tertiary);
}
.heading {
  color: var(--color-white);
  letter-spacing: 2px;
}

.github-link,
link:visited {
  color: var(--color-white);
}

.normal-text {
  color: var(--color-white);
  letter-spacing: 0.8px;
}
@media only screen and (max-width: 768px) {
  .normal-text,
  a {
    font-size: 12px;
  }
  .heading {
    font-size: 18px;
  }
}

.footer {
  position: fixed;
  margin-top: 1rem;
  padding: 2rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-tertiary);
  color: var(--color-white);
}

.floor {
  border-bottom: 1px solid #000;
  height: 10rem;
  width: inherit;
}

.lift__simulator {
  overflow: auto;
}
.lift__simulator__building {
  border-radius: 1rem;
}

.btn-warning,
.btn-success {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  color: var(--color-white);
  width: 5rem;
}

.lift {
  z-index: 1;
  height: 120px;
  width: 60px;
  display: flex;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  border: 2px solid var(--color-black);
}
.door__left {
  border: 1px solid var(--color-black);
  background-color: rgb(77, 177, 226);
  width: 50%;
  height: 100%;
}
.door__right {
  border: 1px solid var(--color-black);
  background-color: var(--color-secondary);
  width: 50%;
  height: 100%;
}
